<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Por favor entre com login & senha!!</h6>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <button type="submit" style="margin-top: 15px;" class="btn btn-primary">
                    <a routerLink="/signupp">Cadastrar como paciente</a> </button>
                <button type="submit" style="margin-top: 15px;" class="btn btn-primary">
                    <a routerLink="/signupt">Cadastrar como terapeuta</a> </button>
            </div>
        </div>

    </div>
</div>