<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">Therapy</a>
    <nav class="nav-items">
      <a routerLink="/terapeuta">Terapeuta</a>

      <a routerLink="/signup">Logout</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="card list-terapeutas">
        <h5 class="card-header">Lista de terapeutas</h5>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">TipoDeAtendimento</th>
                <th scope="col">Bairro</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let terapeuta of terapeutas">
                <td>{{terapeuta.nome}}</td>
                <td>{{terapeuta.sobrenome}}</td>
                <td>{{terapeuta.tipoDeAtendimento}}</td>
                <td>{{terapeuta.bairro}}</td>
                <td>{{terapeuta.valor | currency}}</td>
                <td>
                <button mat-raised-button (click)="agendarConsulta()">
                  Agendar
                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</body>