<h1 mat-dialog-title>Olá paciente</h1>
<div mat-dialog-content>
  <form name="consultaForm" [formGroup]='consultaForm' ng-controller="DateController as dateCtrl">
    <label for="exampleInput">Seelcione o horario da consulta:</label>
    <input type="time" id="exampleInput" name="input"  formControlName="time" ng-model="example.value"
        placeholder="HH:mm:ss" min="08:00:00" max="19:00:00" required />
    <div role="alert">
      <span class="error" ng-show="myForm.input.$error.required">
          Required!</span>
      <span class="error" ng-show="myForm.input.$error.time">
          Not a valid date!</span>
    </div>
</form>