<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Cadastro Paciente</h1>
          <h6>Por favor insira suas informações!!</h6>
        </div>
        <form [formGroup]="signupPForm" (ngSubmit)="signUPP()">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome completo</label>
            <input formControlName="nome" type="text" class="form-control" id="nome">
          </div>
          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input formControlName="telefone" type="tel" class="form-control" id="telefone">
          </div>
          <div class="mb-3">
            <label for="emailPaciente" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="emailPaciente">
          </div>
          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input formControlName="senha" type="password" class="form-control" id="senha">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Registrar</button>
        </form>
        <a style="color: white;" routerLink="/">Já registrado? Clique aqui para login</a>
      </div>
    </div>

  </div>
</div>