@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	overflow-y: scroll;
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;

	
}

.img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(./../../../imagens/imagem2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sigup-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.sigup-content img{
    height: 100px;
}

.sigup-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.sigup-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.sigup-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div > input-box > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #0a5c0a, #0a5c0a, #0a5c0a);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
	color: #f5a3f5;

}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.sigup-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.sigup-content{
		justify-content: center;
	}
}
.wrapper{
	display: inline-flex;
	background: #fff;
	height: 100px;
	width: 400px;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	padding: 20px 15px;
	font-family: 'Lato', sans-serif;
  }
  .wrapper .option{
	background: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 10px;
	border-radius: 5px;
	cursor: pointer;
	padding: 0 10px;
	border: 2px solid lightgrey;
	transition: all 0.3s ease;
	
  }
  .wrapper .option .dot{
	height: 20px;
	width: 20px;
	background: #d9d9d9;
	border-radius: 50%;
	position: relative;
  }
  .wrapper .option .dot::before{
	position: absolute;
	content: "";
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background: #f5a3f5;
	border-radius: 50%;
	opacity: 0;
	transform: scale(1.5);
	transition: all 0.3s ease;
  }
  input[type="radio"]{
	display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
	border-color: #0a5c0a;
	background: #0a5c0a;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
	background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
	opacity: 1;
	transform: scale(1);
  }
  .wrapper .option span{
	font-size: 20px;
	color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
	color: #fff;
  }
  
  select {

	/* styling */
	background-color: white;
	border: thin solid #0a5c0a;
	border-radius: 4px;
	display: inline-block;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
  
	/* reset */
  
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
	background-image:
	  linear-gradient(45deg, transparent 50%, #f5a3f5 50%),
	  linear-gradient(135deg, #f5a3f5 50%, transparent 50%),
	  linear-gradient(to right, #0a5c0a, #0a5c0a);
	background-position:
	  calc(100% - 20px) calc(1em + 2px),
	  calc(100% - 15px) calc(1em + 2px),
	  100% 0;
	background-size:
	  5px 5px,
	  5px 5px,
	  2.5em 2.5em;
	background-repeat: no-repeat;
  }
  
  select.classic:focus {
	background-image:
	  linear-gradient(45deg, #0a5c0a 50%, transparent 50%),
	  linear-gradient(135deg, transparent 50%, #0a5c0a 50%),
	  linear-gradient(to right, #f5a3f5, #f5a3f5);
	background-position:
	  calc(100% - 15px) 1em,
	  calc(100% - 20px) 1em,
	  100% 0;
	background-size:
	  5px 5px,
	  5px 5px,
	  2.5em 2.5em;
	background-repeat: no-repeat;
	border-color: grey;
	outline: 0;
  }

  .input-box {
	display: flex;
	align-items: center;
	max-width: 300px;
	background: #fff;
	border: 1px solid #a0a0a0;
	border-radius: 4px;
	padding-left: 0.5rem;
	overflow: hidden;
	font-family: sans-serif;
  }
  
  .input-box .prefix {
	font-weight: 300;
	font-size: 14px;
	color: #999;
  }
  
  .input-box input {
	flex-grow: 1;
	font-size: 13px;
	background: #fff;
	border: none;
	outline: none;
	padding: 0.3rem;
	padding: 3px 1px;
    width: 100%;
  }
  
  .input-box:focus-within {
	border-color: #777;
  }
