<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">Therapy</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a routerLink="/login">login</a>
    </nav>
  </header>
  <main>
    <div class="intro">
      <p>"A nossa vida é aquilo que os nossos pensamentos fizerem dela." --MARCO AURÉLIO</p>
    </div>
    <div class="sobre">
      <div class="sobre-text">
        <h2>Sobre</h2>
        <p>Projeto A3 referente as UCs: Sistemas Distribuídos & Mobile, onde criamos uma solução computacional para uma clínica médica.

          O projeto consiste em fazer um cadastro de paciente ou terapeuta e agendar uma consulta.</p>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; 2022 Therapy</div>
  </footer>
</body>

</html>